@model IEnumerable<TiemTapHoa_WebNangCao.Models.BangLuongView>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    TiemTapHoa_WebNangCao.Models.DBTiemTapHoaEntities db = new TiemTapHoa_WebNangCao.Models.DBTiemTapHoaEntities();
}

<link rel="stylesheet" href="~/assets/CSS/staff.css" />
<link rel="stylesheet" href="~/assets/CSS/management.css" />



<div class="product-management management">
    <h2 class="management-title">Danh sách bảng lương</h2>

    <div class="management-group">
        <div class="search-group">
            <form id="form_search">
                <div class="search">
                    @Html.TextBox("searchString", null, new { placeholder = "Nhập tên nhân viên" })
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
                <button type="submit" class="Btn">Tìm kiếm</button>
            </form>
        </div>

        <div class="btn-group">
            <button class="Btn" onclick="location.href='@Url.Action("Create", "BangLuong")'">Thêm</button>
        </div>
    </div>
</div>

<div class="data">
    <table class="data-table">
        <tr class="table-head">
            <th>Mã</th>
            <th>Họ tên</th>
            <th>Tháng</th>
            <th>Năm</th>
            <th>Số ngày nghỉ</th>
            <th>Lương</th>
            <th></th>
        </tr>

        @{
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MaBL)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenNV)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Thang)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nam)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SoNgayNghi)
                    </td>
                    <td>
                        @string.Format("{0:N0}", item.Luong)
                    </td>
                    <td class="data-table-control">
                        <button onclick="location.href='@Url.Action("Edit", "BangLuong", new { id = item.MaBL })'" class="Btn">Sửa</button>
                        <button style="background-color:red" onclick="xoaChucVu(@item.MaBL)" class="Btn">Xóa</button>
                    </td>
                </tr>
            }
        }

    </table>
</div>

<script>
    let formSearch = document.querySelector('#form_search');
    let formSearch_Input = formSearch.querySelector('input');

    selectElement.onchange = () => {
        e.preventDefault();
        let searchStr = formSearch_Input.value;
        loadBLData(searchStr)
    }

    function loadBLData(searchString) {
        $.ajax({
            url: "/ChucVu/Search",
            type: "GET",
            data: {
                searchString,
            },
            success: function (result) {
                $("#data-table").html(result);
            },
            error: function (error) {
                console.error("Error during search:", error);
            }
        })
    }
</script>


