@model IEnumerable<TiemTapHoa_WebNangCao.Models.HangHoa>

@{
    Layout = null;
}

<table class="data-table">
    <tr class="table-head">
        <th></th>
        <th>Tên</th>
        <th>Đơn giá</th>
        <th>Đơn vị</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img src="@item.HinhAnh" />
            </td>
            <td>@item.TenHH</td>
            <td>@string.Format("{0:N0}", item.DonGia)</td>
            <td>@item.DonVi</td>
            <td class="data-table-control">
                <button onclick="addOrder(@item.MaHH)" class="Btn">Thêm</button>
            </td>
        </tr>
    }
</table>
